<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--指定Mybatis所用日志的具体实现  -->
    <properties resource="db.properties"/>
    
	<!-- 设置别名 -->
     <settings>
        <setting name="logImpl" value="LOG4J"/>
       <setting name="lazyLoadingEnabled" value="true"/>
   <!--      会带有延迟加载的对象立即加载，反之每种属性将会按需加载  -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="cacheEnabled" value="true"/>
    </settings> 
 	
    
     <typeAliases>
		<typeAlias  alias="user" type="com.xcc.mybatis.User"/>
	</typeAliases>
  
    <!--配置，即连接的数据库  -->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
            	<property name="driver" value="${driver}"/>
            	<property name="url" value="${url}"/>
            	<property name="username" value="${username}"/>
            	<property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="com/xcc/mybatis/UserMapper.xml"/>
        <mapper resource="com/xcc/mapper/CardMapper.xml"/>
      	<mapper resource="com/xcc/mapper/PersonMapper.xml"/>
        <mapper resource="com/xcc/mapper/StudentMapper.xml"/>
        <mapper resource="com/xcc/mapper/ClazzMapper.xml"/>
        <mapper resource="com/xcc/mapper/UserMapper.xml"/>
        <mapper resource="com/xcc/mapper/OrderMapper.xml"/>
        <mapper resource="com/xcc/mapper/ArticleMapper.xml"/>
        <mapper resource="com/xcc/mapper/EmployeeMapper.xml"/>
        
    </mappers>
    
</configuration>


